.shape{
	position: absolute;
	bottom: 0%;
	left: 0;
	width: 100%;
	svg{
		width: 100%;
		bottom: 0;
		position: absolute;
	}
}
.epic-slider_container-hero{
	display: block;
	height: 100%;
	position: relative;
	margin: 0 auto !important;
}
