.block-editor-block-list__block[data-type="epicslider-blocks/waveslider"]{
    background:rgba(1,1,1,0.2);
    padding-top: 20px;
    position: relative;
    .wp-block[data-align="full"]{
        max-width: 100%;
        left: 0;
      }
    &:after{
      content: "End of slider Container";
      position: relative;
      bottom: 0;
      display: block;
      text-align: center;
    }
  }
.epic-slider_container-hero.wp-block-epicslider-blocks-waveslider{
  &.is-minimized{
    max-height: 1000px;
    overflow: hidden;
    .block-editor-block-list__block[data-type="epicslider-blocks/firstslider"] .slide__img{
      max-height: 1000px;
      img{
        height: 900px;
      }
    }
  }
}
@media only screen and (max-width: 1655px) {
  .epic-slider_container-hero.wp-block-epicslider-blocks-waveslider{
    &.is-minimized{
      max-height: 600px;
      overflow: hidden;
      .block-editor-block-list__block[data-type="epicslider-blocks/firstslider"] .slide__img{
        max-height: 600px;
        img{
          height: 600px;
        }
      }
    }
  }

}