
.wp-block-epicslider-blocks-epictext {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    margin:5px 0px 0px 0px;
    &.animation{
      opacity: 0;
      }
    &.is-style-squared {
        border-radius: 0px;
    }
    &.is-style-outline {
        border-radius: 0px;
        border: 2px solid currentColor;
    }
    &.has-shadow {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        &.shadow-opacity-10 {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        &.shadow-opacity-20 {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
        &.shadow-opacity-30 {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }
        &.shadow-opacity-40 {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }
    }
}
.animationDelay-90{
    animation-delay:  1000ms;
}
.animationDelay-80{
    animation-delay: 900ms;
}
.animationDelay-70{
    animation-delay: 800ms;
}
.animationDelay-60{
    animation-delay: 700ms;
}
.animationDelay-50{
    animation-delay: 600ms;
}
.animationDelay-40{
    animation-delay: 500ms;
}
.animationDelay-30{
    animation-delay: 400ms;
}
.animationDelay-20{
    animation-delay: 300ms;
}
.animationDelay-10{
    animation-delay: 200ms;
}
.wp-block-epicslider-blocks-epictext{
  &.F-10{
    font-size: 10px;
  }
  &.F-12{
    font-size: 12px;
  }
  .F-14{
    font-size: 14px;
  }
  &.F-16{
    font-size: 16px;
  }
  &.F-18{
    font-size: 18px;
  }
  .F-20{
    font-size: 20px;
  }
  .F-22{
    font-size: 22px;
  }
  &.F-24{
    font-size: 24px;
  }
  &.F-26{
    font-size: 26px;
  }
  &.F-28{
    font-size: 28px;
  }
  &.F-30{
    font-size: 30px;
  }
  &.F-32{
    font-size: 32px;
  }
  &.F-34{
    font-size: 34px ;
  }
  &.F-36{
    font-size: 36px;
  }
  &.F-38{
    font-size: 38px;
  }
  &.F-40{
    font-size: 40px;
  }
  &.F-42{
    font-size: 42px;
  }
  &.F-44{
    font-size: 44px;
  }
  &.F-46{
    font-size: 46px;
  }
  &.F-48{
    font-size: 48px;
  }
  &.F-50{
    font-size: 50px;
  }
  &.F-52{
    font-size: 52px;
  }
  &.F-54{
    font-size: 54px; 
  }
  &.F-56{
    font-size: 56px;
  }
  &.F-58{
    font-size: 58px;
  }
  &.F-60{
    font-size: 60px;
  }
  &.F-62{
    font-size: 62px;
  }
  &.F-64{
    font-size: 64px;
  }      
  &.F-66{
    font-size: 66px;
  }      
  &.F-68{
    font-size: 68px;
  }
  &.F-70{
    font-size: 70px;
  }
}
  @media only screen and (max-width: 1000px) {
    .wp-block-epicslider-blocks-epictext{
      padding: 10px;
        &.F-10{
          font-size: 5px;
        }
        &.F-12{
          font-size: 6px;
        }
        &.F-14{
          font-size: 7px;
        }
        &.F-16{
          font-size: 8px;
        }
        &.F-18{
          font-size: 9px;
        }
        &.F-20{
          font-size: 10px;
        }
        &.F-22{
          font-size: 12px;
        }
        &.F-24{
          font-size: 14px;
        }
        &.F-26{
          font-size: 16px;
        }
        &.F-28{
          font-size: 18px;
        }
        &.F-30{
          font-size: 20px;
        }
        &.F-32{
          font-size: 22px;
        }
        &.F-34{
          font-size: 24px;
        }
        &.F-36{
          font-size: 26px;
        }
        &.F-38{
          font-size: 28px;
        }
        &.F-40{
          font-size: 30px;
        }
        &.F-42{
          font-size: 32px;
        }
        &.F-44{
          font-size: 34px;
        }
        &.F-46{
          font-size: 36px;
        }
        &.F-48{
          font-size: 38px;
        }
        &.F-50{
          font-size: 40px;
        }
        &.F-52{
          font-size: 42px;
        }
        &.F-54{
          font-size: 44px; 
        }
        &.F-56{
          font-size: 46px;
        }
        &.F-58{
          font-size: 48px;
        }
        &.F-60{
          font-size: 40px;
        }
        &.F-62{
          font-size: 42px;
        }
        &.F-64{
          font-size: 44px;
        }      
        &.F-66{
          font-size: 46px;
        }      
        &.F-68{
          font-size: 48px;
        }
        &.F-70{
          font-size: 50px;
        }
      }
  }